<mat-nav-list>

    <a mat-list-item routerLink="/login" (click)="onCloseSidenav()">
      <mat-icon>lock_open</mat-icon> Login
    </a>
    <a mat-list-item routerLink="/sign-up" (click)="onCloseSidenav()">
      <mat-icon>face</mat-icon> Sign Up
    </a>
    <a mat-list-item routerLink="/training" (click)="onCloseSidenav()">
      <mat-icon>library_books</mat-icon> Training
    </a>

    <mat-list-item>
      <button mat-icon-button>
        <mat-icon>exit_to_app</mat-icon> Logout
      </button>
    </mat-list-item>

</mat-nav-list>