@import "@angular/material/prebuilt-themes/cyan-orange.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
  --sidenav-bg-color: rgb(18, 78, 78);
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
a:visited {
  color: rgb(18, 78, 78);
  text-decoration: none;
}

a:hover,
a:active {
  color: rgb(24, 103, 103);
}

mat-sidenav-content {
  min-height: 100vh;
}

mat-form-field {
  margin-top: 0.2rem;
  width: 500px;
}
